body {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/bgg.webp');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* margin-top: 20px; */
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

.mobile-btn{
    display: flex;
    margin-top: -35px;
    justify-content: space-between;
    width: 720px;
}

.mobile-btn img{
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.start-screen {
    position: relative;
} 

.start-screen img {
    width: 720px;
    height: 480px;
    /* background-size: contain; */
}
.you-win-container{
    position: absolute;
    top: 118px;
   
}
.new-game-btn {
    position: absolute;
    top: 300px;
    font-size: 32px;
    padding: 16px;
    border-radius: 12px;
    background-color: #FFC521;
    color: black;
}

.new-game-btn:hover{
    cursor: pointer;
    background-color: #ffd255;
}
.you-win-container p {
    color: #FFDC03;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 120px;
    text-align: center;
    z-index: 999;
    width: 720px;
    height: 480px;
    background: rgba(0, 0, 0, 0.3);
}

.end-screen-container{
    position: absolute;
    top: 118px;
}

.end-screen-container img {
    display: flex;
    z-index: 999;
    width: 720px;
    height: 480px;
    background: rgba(0, 0, 0, 0.3);
}

.play-btn {
    position: absolute;
    top:0px;
    left: 316px;
}


.play-btn img{
    width: 128px;
    height: 128px;
    background-color: #FFCC18;
    
}

.play-btn img:hover{
cursor: pointer;
background-color: #ffd43a;
}


h1 {
    font-size: 50px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.d-none{
    display: none;
}

canvas {
    background-color: black;
    display: block;
    width: 720px;
    height: 480px;
    border: 2px solid black;
    /* background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-size: 720px 500px; */
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        height: 50vh;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100vw;
    }

    h1 {
        display: none;
    }

    body {
        background-image: none;
    }
}