body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/bg-new.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
}
.progress-container {
    position: absolute;
    width: 100%;
    height: 480px;
    background: black;
}
.progress {
    --progress: 0%;
    width: 500px;
    height: 50px;
    margin: 200px auto;
    border: 1px solid #fff;
    padding: 12px 10px;
    box-shadow: 0 0 10px #aaa;
}
.progress .bar {
    text-align: center;
    color: white;
    font-size: 16px;
    width: var(--progress);
    height: 100%;
    background: linear-gradient(gold, #c85, gold);
    background-repeat: repeat;
    box-shadow: 0 0 10px 0px orange;
    animation:
        shine 3s ease-in infinite,
        end 1s ease-out 1 3s;
    transition: width 1s ease 1s;
}
@property --progress {
    syntax: "<length>";
    initial-value: 0%;
    inherits: true;
}

@keyframes shine {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 50px;
    }
}

@keyframes end {
    0%, 100% {
        box-shadow: 0 0 10px 0px orange;
    }

    50% {
        box-shadow: 0 0 15px 5px orange;
    }
}
.level2 {
    left: 100px;
}
.story-container {
    position: absolute;
    width: 100%;
    height: 480px;
    background-image: url('img/bg-new.jpg');
}
.story-container img {
    height: 16px;
    width: 16px;
    margin-bottom: 0;
    cursor: pointer;
}
.story-container p {
    font-size: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 0 !important;
}
.explanation {
    text-align: center;
    padding-bottom: 8px;
    font-size: 32px;
}
.story-container img {
    width: 32px;
    height: 32px;
    padding-top: 12px;
    padding-left: 8px;
}
.flex {
    display: flex;
    padding-left: 48px;
}
.flex p {
    margin: 0;
    padding-bottom: 0;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.column img {
    margin: 0;
}
.padding {
    padding-bottom: 4px;
}
h2 {
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    margin: 8px;
}
.flex div {
    font-weight: bold;
}
.canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
}
.mobile-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
    display: none;
}
.mobile-btn img {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
.mobile-btn div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.rotate-your-phone-container {
    height: 100vh;
    background-color: black;
    display: none;
    z-index: 999;
}
.rotate-your-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
    font-size: 64px;
    color: white;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}
.rotate-your-phone p {
    text-align: center;
}
.rotate-your-phone img {
    width: 128px;
    height: 128px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.start-screen {
    position: absolute;
}
.start-screen img {
    width: 720px;
    height: 480px;
}
.option-btn {
    position: absolute;
    top: 300px;
    padding: 16px;
    left: 400px;
    font-size: 28px;
    border-radius: 12px;
    background-color: #FFC521;
    color: black;
}
.option-btn:hover {
    cursor: pointer;
    background-color: #ffd255;
}
.new-game-btn {
    position: absolute;
    top: 300px;
    left: 170px;
    padding: 16px;
    font-size: 28px;
    border-radius: 12px;
    background-color: #FFC521;
    color: black;
}
.new-game-btn:hover {
    cursor: pointer;
    background-color: #ffd255;
}
.you-win-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 720px;
    height: 480px;
}
.you-win-container p {
    color: #FFDC03;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 84px;
    text-align: center;
    z-index: 9;
    padding-top: 128px;
}
.fullscreen-container {
    position: absolute;
    width: 100%;
}
.fullscreen-container img {
    width: 28px;
    height: 28px;
    padding: 8px;
}
.info-container {
    display: flex;
    justify-content: space-between;
}
.cursor {
    cursor: pointer;
}
.end-screen-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 720px;
    height: 480px;
}
.end-screen-container img {
    display: flex;
    z-index: 999;
    width: 100%;
    height: 100%;
}
.ton {
    width: 32px !important;
    height: 32px !important;
    opacity: 0.3;
}
.info {
    position: absolute;
    top: 0;
}
button {
    position: absolute;
    top: 5%;
    left: 43%;
    font-size: 32px;
    cursor: pointer;
    background-color: #FFD40E;
    padding: 16px;
    border-radius: 30%;
}
button:hover {
    background-color: #FFC423;
}
h1 {
    font-size: 84px;
    margin: 0;
    letter-spacing: 4px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}
.d-none {
    display: none;
}
canvas {
    background-color: black;
    display: block;
    width: 720px;
    height: 480px;
}
@media only screen and (max-width: 900px) {
    canvas {
        width: 100%;
    }
    .canvas-container {
        width: 100%;
    }
    .flex {
        padding-left: 11%;
    }
    .story-container p{
        font-size: 22px;
    }
    h2 {
        margin: 46px;
    }
    h1 {
        display: none;
    }
    .start-screen {
        width: 100%;
    }
    .start-screen img {
        width: 100%;
    }
    .you-win-container {
        width: 100%;
    }
    .you-win-container p {
        font-size: 60px;
        width: 100%;
        padding-top: 100px;
    }
    .end-screen-container {
        width: 100%; 
    }
    .new-game-btn {
        top: 290px;
        left: 25%;
    }
    .option-btn {
        top: 290px;
        left: 58%;
    }
    .column {
        justify-content: flex-start;
    }
    .column img {
        padding-top: 4px;
    }
}
@media (max-height: 450px) and (max-width: 900px) {
    body{
        background-image: none;
    }
    .mobile-btn{
        display: block;
    }
    .end-screen-container{
        height: 100vh;
    }
    .you-win-container{
        height: 100vh;
    }
    .start-screen img{
        height: 100vh;
    }
    .story-container{
        height: 100vh;
    }
    .progress-container {
        height: 100vh;
    }
    .canvas-container{
        height: 100vh;
    }
    canvas{
        height: 100vh;
    }
    .you-win-container p {
        font-size: 76px;
    }
    .story-container p {
        font-size: 24px;
    }
    .column {
        justify-content: flex-start;
    }
    .column img {
        padding-top: 4px;
    }
    h2 {
        margin: 10px;
    }
    .new-game-btn {
        top: 60%;
        left: 25%;
    }
    .option-btn{
        top: 60%;
    }
}
@media (max-width: 650px) {
    .rotate-your-phone-container {
        display: block;
        width: 100%;
    }
    .canvas-container {
        display: none;
    }
}
