body {
    /* position: relative; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/bg-new.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    
}

h1{
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

.story-container{
    position: absolute;
    width: 100%;
    height: 480px;
    background-image: url('img/bg-new.jpg');
    
   
    
}

.story-container img {
    cursor: pointer;
}

.story-container p{
    margin-top: 0;
    font-size: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}
.explanation{
    text-align: center;
    padding-bottom: 8px;
    font-size: 32px;
}

.story-container img {
    width: 32px;
    height: 32px;
    padding-top: 12px;
    padding-left: 8px;
    
}

.flex{
    display: flex;
    padding-left: 48px;
    
}

.flex p{
    margin: 0;
    
}

.column{
    display: flex;
    flex-direction: column;
   justify-content: end;
}




h2{
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
}




.flex div{
    font-weight: bold;
}
.canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
}

.mobile-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
    display: none;
}

.mobile-btn img {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.mobile-btn div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.rotate-your-phone-container{
    position: absolute;
    background-color: black;
    display: none;
    z-index: 999;
}

.rotate-your-phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    height: 480px;
    font-size: 64px;
    color: white;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

.rotate-your-phone p{
    text-align: center;
}

.rotate-your-phone img{
    width: 128px;
    height: 128px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.start-screen {
    position: absolute;
}



.start-screen img {
    width: 720px;
    height: 480px;
    /* background-size: contain; */
}

.you-win-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 720px;
    height: 480px;

}

.option-btn {
    position: absolute;
    top: 350px;
    padding: 16px;
    left: 400px;
    font-size: 28px;
    border-radius: 12px;
    background-color: #FFC521;
    color: black;
}

.option-btn:hover {
    cursor: pointer;
    background-color: #ffd255;
}

.new-game-btn {
    position: absolute;
    top: 350px;
    left: 170px;
    padding: 16px;
    font-size: 28px;
    border-radius: 12px;
    background-color: #FFC521;
    color: black;
}

.new-game-btn:hover {
    cursor: pointer;
    background-color: #ffd255;
}

.you-win-container p {
    color: #FFDC03;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 84px;
    text-align: center;
    z-index: 9;
    width: 720px;
    height: 480px;
    background: rgba(0, 0, 0, 0.3);
}

.fullscreen-container {
    position: absolute;
    width: 100%;
}

.fullscreen-container img {
    width: 28px;
    height: 28px;
    padding: 8px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.cursor {
    cursor: pointer;
}

.end-screen-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 720px;
    height: 480px;
}

.end-screen-container img {
    display: flex;
    z-index: 999;
    width: 100%;
    height: 100%;

}

.ton {
    width: 32px !important;
    height: 32px !important;
}

.info {
    position: absolute;
    top: 0;
}


button {
    position: absolute;
    top: 5%;
    left: 43%;
    font-size: 32px;
    cursor: pointer;
    background-color: #FFD40E;
    padding: 16px;
    border-radius: 30%;
}

button:hover {

    background-color: #FFC423;
}



h1 {
    font-size: 50px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.d-none {
    display: none;
}

canvas {
    background-color: black;
    display: block;
    width: 720px;
    height: 480px;
    /* border: 1px solid black; */
}


@media only screen and (max-width: 720px) {

    
    canvas {
        width: 100%;
    }

    .canvas-container{
        width: 100%;
    }

    .rotate-your-phone-container{
        width: 100%;
    }

    .rotate-your-phone{
        width: 100%;
    }

    h1 {
        display: none;
    }

    .start-screen{
        
        width: 100%;
    }

    .start-screen img{
        
        width: 100%;
    }

    
    .you-win-container {
        width: 100%;
    }

    .you-win-container p {
        width: 100%;
    }

    .end-screen-container{
       
        width: 100%;
    }
}

@media only screen and (max-width: 700px){
    .rotate-your-phone-container{
        display: block;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }

    .story-container p{
        font-size: 28px;
    }
    h1 {
        display: none;
    }

    .mobile-btn{
        display: block;
    }

    .canvas-container{
        height: 100vh;
    }

    .start-screen{
        margin: 0;
        height: 100vh;
    }
    .start-screen img{
        height: 100vh;
    }
    .you-win-container{
        height: 100vh;
    }
    .you-win-container p {
        height: 100%;
    }

    .end-screen-container{
        height: 100vh;
    }

    .new-game-btn{
        top: 280px;
    }

    .option-btn{
        top: 280px;
    }
    

    body {
       height: 100vh;
    } 

    


}